<!DOCTYPE html>
<html>
<head>
    <title>Search Form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Search Form</h1>
    <form action="/submit" method="post">
        <label for="searchQuery">Search:</label>
        <input type="text" id="searchQuery" name="searchQuery" required>
        <br>
        <input type="checkbox" id="extractRelated" name="extractRelated">
        <label for="extractRelated">Extract only related searches</label>
        <br>
        <div id="inDepthDiv" style="display: none;">
            <label for="inDepthValue">In-depth value:</label>
            <input type="number" id="inDepthValue" name="inDepthValue">
        </div>
        <br>
        <input type="submit" value="Submit">
    </form>
    <!-- Add this to your index.html -->
    <div id="jsonOutput"></div>
    <script>
        $(document).ready(function() {
            $('#extractRelated').change(function() {
                if ($(this).prop('checked')) {
                    $('#inDepthDiv').show();
                } else {
                    $('#inDepthDiv').hide();
                }
            });
        });
    </script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		const socket = io();

		socket.on('jsonStructure', (jsonStructure) => {
			const jsonOutputDiv = document.getElementById('jsonOutput');
			jsonOutputDiv.innerHTML = jsonStructure;

			// Get all the link elements inside jsonOutput
			const linkElements = jsonOutputDiv.querySelectorAll('.link-div');
			
			// Add buttons to each link div
			linkElements.forEach((linkElement) => {
				const linkText = linkElement.textContent;
				
				const removeButton = document.createElement('button');
				removeButton.textContent = 'Remove';
				removeButton.addEventListener('click', () => {
					linkElement.remove();
				});

				const insertButton = document.createElement('button');
				insertButton.textContent = 'Insert';
				insertButton.addEventListener('click', () => {
					document.getElementById('searchQuery').value = linkText;
				});

				linkElement.appendChild(removeButton);
				linkElement.appendChild(insertButton);
			});
		});
	</script>
</body>
</html>